.history-table-wrapper {
  padding: 2rem;
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.history-table {
  width: 100%;
  margin-top: 1.2rem;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
.history-table td,
.history-table th { 
  border: 1px solid #ddd;
  padding: 1.2rem;
  color: #888;
}
.history-table__heading {
}
.history-table__heading-row th {
  font-weight: 500;
  background-color: #f6f6f6;
}
.history-table__body {
}
.history-table__body-row td {
  background-color: #f2f2f2;
}
.history-table-link a {
  color: #111;
  text-decoration: none;
}
.history-table-link a:hover {
  color: var(--primary);
  transition: color 0.2s;
}
.uppercase-first-letter::first-letter {
  text-transform: uppercase;
 }