/* Product */
.product {
  margin: 3.2rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
.pagination li {
  margin: 0 0.4rem;
}
.pagination li a {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}
.pagination li:hover a {
  color: var(--primary);
}
.active {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  color: var(--primary);
}
.pagination .previous > a,
.pagination .next > a {
  font-size: 2.4rem;
}

.range__bar {
  background-color: var(--primary);
  height: 100%;
}
.range__dot {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  font-size: 0.7rem;
  white-space: nowrap;
  border: 2px solid var(--primary);
  transition: 0.2s ease;
}
.range__price {
  color: var(--black);
}

.filter {
}
.filter__field {
  margin-bottom: 2rem;
}
.filter__heading {
  padding-bottom: 1.2rem;
  margin-bottom: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary);
}

.filter__checkbox-label {
  display: inline-block;
  padding: 0.8rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  border: 1px solid var(--border-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
}
.filter__checkbox-label:hover,
.filter__checkbox-label--active {
  color: var(--primary);
  border-color: var(--primary);
  transition: all 0.2s;
}
.filter__checkbox {
  display: none;
}
.filter__clear {
  display: block;
  width: 50%;
  margin-top: 1.2rem;
  padding: 0.8rem;
  border: 1px solid var(--red);
  font-weight: 500;
  font-size: 1.4rem;
  background-color: transparent;
  color: var(--red);
  cursor: pointer;
}
.filter__clear:hover {
  background-color: rgb(252, 80, 80);
  color: white;
  font-weight: 700;
  transition: all 0.2s;
}
.range__box-wrapper {
  position: relative;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.range__box-wrapper::before {
  content: "";
  position: absolute;
  width: 40%;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  border-top: 0.5px solid var(--border-color);
  z-index: 0;
  overflow: hidden;
}
.range__box {
  z-index: 1;
  position: relative;
  display: block;
  width: 30%;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
}
.product__selectbox {
  width: 15rem;
  padding: 0.4rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.not-found-title {
  color: var(--gray);
  text-align: center;
  font-size: 3rem;
}
.not-found-link {
  color: var(--primary);
  text-decoration: none;
}
.not-found-link:hover {
  filter: brightness(1.5);
  transition: all 0.2s;
}
.not-found {
  width: 100%;
  height: 80%;
}

.not-found__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
